#gear-main {
	td.role {
		&.role-Primary,
		&.role-Main-Hand {
			background-image: url(/img/equipment/2x/Primary.png);
		}
		&.role-Secondary,
		&.role-Off-Hand {
			background-image: url(/img/equipment/2x/Secondary.png);
		}
		&.role-Head {
			background-image: url(/img/equipment/2x/Head.png);
		}
		&.role-Body {
			background-image: url(/img/equipment/2x/Body.png);
		}
		&.role-Hands {
			background-image: url(/img/equipment/2x/Hands.png);
		}
		&.role-Waist {
			background-image: url(/img/equipment/2x/Waist.png);
		}
		&.role-Legs {
			background-image: url(/img/equipment/2x/Legs.png);
		}
		&.role-Feet {
			background-image: url(/img/equipment/2x/Feet.png);
		}
		&.role-Neck {
			background-image: url(/img/equipment/2x/Neck.png);
		}
		&.role-Ears {
			background-image: url(/img/equipment/2x/Ears.png);
		}
		&.role-Wrists {
			background-image: url(/img/equipment/2x/Wrists.png);
		}
		&.role-Right-Ring {
			background-image: url(/img/equipment/2x/Ring.png);
		}
		&.role-Right-Ring {
			background-image: url(/img/equipment/2x/Ring.png);
		}
	}
}
.levequests-table .level-section, 
.leve-table {
	.triple {
		background-image: url(/img/triple.png);
	}
	.location {
		&.limsalominsa {
			background-image: url(/img/locations/limsalominsa_bg.png);
		}
		&.gridania {
			background-image: url(/img/locations/gridania_bg.png);
		}
		&.uldah {
			background-image: url(/img/locations/uldah_bg.png);
		}
	}
}

.levequests-table td.location {
	&.limsalominsa:before {
		background-image: url(/img/locations/limsalominsa_banner.png);
	}
	&.gridania:before {
		background-image: url(/img/locations/gridania_banner.png);
	}
	&.uldah:before {
		background-image: url(/img/locations/uldah_banner.png);
	}
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

i.class-icon {
	background-image: url(/img/classes/small-sprites.png);

	// @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
	// only screen and (-moz-min-device-pixel-ratio: 1.5),
	// only screen and (-o-min-device-pixel-ratio: 3/2),
	// only screen and (min-device-pixel-ratio: 1.5) {
	// 	background-image: url("/img/classes/large-sprites.png");
	// }

	&.large {
		background: url(/img/classes/large-sprites.png);
	}
}

/* 1.25 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
	i.class-icon {
		background-image: url(/img/classes/small-sprites@1.25x.png);
	}
}

/* 1.3 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.3), 
(min-resolution: 124.8dpi){ 
	i.class-icon {
		background-image: url(/img/classes/small-sprites@1.3x.png);
	}
}

/* 1.5 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
	i.class-icon {
		background-image: url(/img/classes/small-sprites@1.5x.png);
	}
}

/*2.0 dpr */
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
	i.class-icon {
		background-image: url(/img/classes/small-sprites@2x.png);
	}
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	i.class-icon {
		background-image: url(/img/classes/small-sprites.png);
	}
}